<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Books in the Library</h1>
        <nav>
            <a href="{{ url_for('app_routes.home') }}">Home</a>
            <a href="{{ url_for('app_routes.add_book') }}">Add Book</a>
        </nav>
    </header>
    <main>
        <table border="1">
            <tr>
                <th>ID</th><th>Title</th><th>Author</th><th>Year</th><th>Genre</th><th>Available Copies</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>{{ book[4] }}</td>
                <td>{{ book[5] }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
